<ul class="pagination">
	<li {{#if pagination.prev.disabled}}class="disabled"{{/if}}><a {{#if pagination.prev.index}}href="#membres/{{pageSize}}/{{pagination.prev.index}}"{{/if}}>&laquo;</a></li>
{{#each pagination.items}}
	<li {{#if active}}class="active"{{/if}}><a href="#membres/{{../pageSize}}/{{index}}">{{index}}</a></li>
{{/each}}
	<li {{#if pagination.next.disabled}}class="disabled"{{/if}}><a {{#if pagination.next.index}}href="#membres/{{pageSize}}/{{pagination.next.index}}"{{/if}}>&raquo;</a></li>
</ul>

<table class="table table-striped table-hover table-condensed">
	<thead>
		<tr>
			<th>N°</th>
			<th>Reg.</th>
			<th>Civ.</th>
			<th>Prénom</th>
			<th>Nom</th>
			<th>Date Nais.</th>
			<th>Date Inscr.</th>
			<th>Email</th>
			<th>Tel.</th>
			<th>Adr.1</th>
			<th>Adr.2</th>
			<th>Adr.3</th>
			<th>Ville</th>
			<th>CP</th>
			<th>Pays</th>
		</tr>
	</thead>
	<tbody>
	{{#each results}}
		<tr class="membre" data-numeromembre="{{numero_membre}}">
			<td>{{numero_membre}}</td>
			<td>{{region}}</td>
			<td>{{civilite}}</td>
			<td>{{prenom}}</td>
			<td>{{nom}}</td>
			<td>{{formatDate date_naissance}}</td>
			<td>{{formatDate date_inscription}}</td>
			<td>{{email}}</td>
			<td>{{telephone}}</td>
			<td>{{adresse1}}</td>
			<td>{{adresse2}}</td>
			<td>{{adresse3}}</td>
			<td>{{ville}}</td>
			<td>{{code_postal}}</td>
			<td>{{pays}}</td>
		</tr>
	{{/each}}
	</tbody>
</table>


