<td>{{id}}</td>
<td>{{formatDate date_debut}}</td>
<td>{{formatDate date_fin}}</td>
<td>{{region}}</td>
<td>{{tarif}}</td>
<td>{{montant}}</td>
<td><button class="btn btn-danger btn-xs deleteCotisation" title="Supprimer cette cotisation"><span class="glyphicon glyphicon-trash"></span></button></td>
